h1 {
    text-align: center;
}

.p1{
    color: blue;
}

.p2{
    color: red;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
    box-shadow: 4px 4px 17px 4px black;
}